.merge-request
  = render "projects/merge_requests/show/mr_title"
  = render "projects/merge_requests/show/how_to_merge"
  = render "projects/merge_requests/show/mr_box"
  = render "projects/merge_requests/show/state_widget"
  = render "projects/merge_requests/show/commits"
  = render "projects/merge_requests/show/participants"

  - if @commits.present?
    %ul.nav.nav-pills.merge-request-tabs
      %li.notes-tab{data: {action: 'notes'}}
        = link_to project_merge_request_path(@project, @merge_request) do
          %i.fa.fa-comment
          Discussion
          %span.badge= @merge_request.mr_and_commit_notes.count
      %li.diffs-tab{data: {action: 'diffs'}}
        = link_to diffs_project_merge_request_path(@project, @merge_request) do
          %i.fa.fa-list-alt
          Changes
          %span.badge= @merge_request.diffs.size

  - content_for :note_actions do
    - if can?(current_user, :modify_merge_request, @merge_request)
      - if @merge_request.open?
        = link_to 'Close', project_merge_request_path(@project, @merge_request, merge_request: {state_event: :close }), method: :put, class: "btn btn-grouped btn-close close-mr-link js-note-target-close", title: "Close merge request"
      - if @merge_request.closed?
        = link_to 'Reopen', project_merge_request_path(@project, @merge_request, merge_request: {state_event: :reopen }), method: :put, class: "btn btn-grouped btn-reopen reopen-mr-link js-note-target-reopen", title: "Reopen merge request"

  .diffs.tab-content
    - if current_page?(action: 'diffs')
      = render "projects/merge_requests/show/diffs"
  .notes.tab-content.voting_notes#notes{ class: (controller.action_name == 'show') ? "" : "hide" }
    = render "projects/notes/notes_with_form"
  .mr-loading-status
    = spinner

:javascript
  var merge_request;

  merge_request = new MergeRequest({
    url_to_automerge_check: "#{automerge_check_project_merge_request_path(@project, @merge_request)}",
    check_enable: #{@merge_request.unchecked? ? "true" : "false"},
    url_to_ci_check: "#{ci_status_project_merge_request_path(@project, @merge_request)}",
    ci_enable: #{@project.ci_service ? "true" : "false"},
    current_status: "#{@merge_request.merge_status_name}",
    action: "#{controller.action_name}"
  });

:javascript
  if(window.location.pathname.match(/merge_requests\/\d+(\/diffs)?$/)) {
    var loc = window.location.pathname;
    var fullBranch = $('.label-branch').eq(0).text();
    var targetBranch = $('.label-branch').eq(1).text();
    var branch = fullBranch.replace(/[^\/]+\//, '');
    var branchDst = fullBranch.split('/')[0];
    var btPostfix = branchDst == 'dev' ? 'dev' : branchDst.replace(/\./g, '');
    var buildTypes = [ 'unit', 'prep', 'layout', 'integration' ].map(function(p) { return p + btPostfix; });
    var $wiki = $('.wiki'), $boxBody = $('.ui-box-body');
    var html = buildTypes.reduce(function(html, build){
      html += '<p><a href="https://teamcity.sbis.ru/viewType.html?buildTypeId=' + build + '&branch=' + encodeURIComponent(branch) + '" class="' + build + '">' +
      '<span class="buildName"></span> (' + branch + ')</a>: ' +
      '<img src="https://teamcity.sbis.ru/app/rest/builds/buildType:' + build + ',branch:' + encodeURIComponent(branch) + '/statusIcon" /> &#8680 ' +
      '<a href="https://teamcity.sbis.ru/viewType.html?buildTypeId=' + build + '&branch=' + encodeURIComponent('<default>') + '" class="' + build + '">' + 
      '<span class="buildName"></span> (' + targetBranch + ')</a>: ' +
      '<img src="https://teamcity.sbis.ru/app/rest/builds/buildType:' + build + '/statusIcon" /></p>';
      return html;
    }, '<h3>Статус сборок по ветке</h3>');
    if(!$wiki.length) {
      var $boxBottom = $('<div></div>', { 'class': 'ui-box-bottom' });
      $boxBottom.append($wiki = $('<div></div>', { 'class': 'wiki' }));
      $boxBody.after($boxBottom);
    }
    $wiki.append(html);
    buildTypes.forEach(function(build){
      $.ajax({
        url: 'https://teamcity.sbis.ru/guestAuth/app/rest/buildTypes/' + build,
        headers: {
          Accept: 'application/json'
        }
      }).done(function(res){
        $('.' + build + ' .buildName').text(res.name);
      });
    })
  }
